{{> includes-head}}
{{> includes-admin-menu}}
{{> includes-header}}
  <style>.admin-tools-list li {
    list-style: none;
    }</style>
    <body>
        <div class="row">
            <h1>Admin tools</h1>
            <hr>
            <div class="large-12">
                <ul class="admin-tools-list">
                  <li><a href="/admin/tools/emails">Email suffixes</a></li>
                  <li><a href="/admin/tools/profile-lookup">Profile lookup</a></li>
                  <li><a href="/admin/csv">CSV links</a></li>
                  <li><a href="/admin/tools/create-profile">Create profile</a></li>
                </ul>
            </div>
            <hr>
            <div class="large-12">

            </div>
        </div>
    </body>
</html>
