{{> includes-head}}
{{> includes-admin-menu}}
{{> includes-header}}

<body>
  <div class="row">
    <h1>CSV links</h1>
    <hr>
    <div class="large-12">
      <ul>
        <li><a href="/admin/csv/gradeBreakdown" target="_new">Grade breakdown</a></li>
        <li><a href="/admin/csv/emaildata/sentdate" target="_new">Sent date breakdown</a></li>
        <li><a href="/admin/csv/emaildata/replydate" target="_new">Reply date breakdown</a></li>
        <li><a href="/admin/csv/joineddate/verified" target="_new">Joined date breakdown (verified users)</a></li>
        <li><a href="/admin/csv/joineddate/unverified" target="_new">Joined date breakdown (unverified users)</a></li>
      </ul>
    </div>
  </div>
</body>
