<div class="footer hide-old-ie">
  <div class="row">
    <div class="small-4 columns">Mentor Match 2016</div>
    <div class="small-4 columns"><a href="dpp" target="_blank">Privacy policy</a></div>
    <div class="small-4 columns end"><a href="mailto:hello@mentormatch.org.uk">Contact</a></div>
  </div>
</div>
<div class="show-old-ie old-ie-footer hidden">
  <div class="row">
    <div class="small-4 columns">Mentor Match 2016</div>
    <div class="small-4 columns"><a href="dpp" target="_blank">Privacy policy</a></div>
    <div class="small-4 columns end"><a href="mailto:hello@mentormatch.org.uk">Contact</a></div>
  </div>
</div>
