  <div class="old-ie-warning hidden">
    We're working on it, but this website isn't yet fully compatible with older versions of Internet Explorer. Please use a more modern browser like Chrome, Safari or Internet Explorer 9+, or a smartphone instead. If this isn't possible, try clicking on the 'compatibility view' icon next to the refresh button ^.
  </div>
  <div class="header hide-for-small-only">
    {{#testMode}}<h1 style="color:red">TEST MODE</h1>{{/testMode}}
    <a href="/profile"><img class="logo" aria-hidden="true" alt="Link to homepage" src="/images/logo.png"></a>
  </div>
  <div class="header-mobile show-for-small-only">
    {{#testMode}}<h1 style="color:red">TEST MODE</h1>{{/testMode}}
    <a href="/profile"><img class="logo-mobile" aria-hidden="true" alt="Link to homepage" src="/images/logo.png"></a>
  </div>
