{{< layout}}
  {{$content}}
  <div class="row">
    <div class="header-panel profile-panel bottom-margin">
      <h1>Forgot your password</h1>
    </div>
    <div class="large-6 large-centered">
      <div class="panel">
        <div class="large-12 columns">
          <p class="error-message">{{errorMessage}}</p>
          <p>Please enter your email address to receive an email with a link to reset your password.</p>
          This email should be sent immediately but may take a few minutes to appear in your inbox.</p>
        </div>
        <div class="large-10 large-centered">
          <form method="POST" action="/forgot-password" class="centre">
            <label for="email-input">
            <input type="text" name="email" id="email" placeholder="Enter email" required="true"/>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input class="button" type="submit" name="forgotPassword" id="forgotPassword" value="Reset password"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/content}}
{{/layout}}
