{{< layout}}
  {{$content}}
    <div class="row">
      <div class="header-panel profile-panel">
        <h1>{{data.name}}</h1>
        <p>{{data.currentRole}}</p>
        <a href="/edit-profile" class="edit-profile-button pointer"><span class=""><i class="fa fa-pencil"></i> Edit profile</span></a>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <div class="child-panel profile-panel">
          <h2 class="section-title">About</h2>
          <p>{{data.aboutMe}}</p>
        </div>
      </div>
      <div class="large-5 columns">
        <div class="child-panel profile-panel">
          <h2 class="section-title">Skills</h2>
          <p>{{skillsListForProfile}}</p>
        </div>
      </div>
      <div class="large-7 columns">
        <div class="child-panel profile-panel">
          <h2 class="section-title">Goal</h2>
          <p>{{data.goal}}</p>
        </div>
      </div>
      <div class="large-5 columns end">
        <div class="child-panel profile-panel">
          <h2 class="section-title">Profession</h2>
          <p>{{data.profession}}</p>
        </div>
      </div>
    </div>
    <div class="row top-padding">
      <div class="large-7 columns">
        <div class="large-12">
          <div class="large-12 small-12 child-panel profile-panel">
            {{#completedProfile.toDevelop}}
            <div class="verify-warning">
              <a href="/edit-profile#areas-to-develop" class="add-area-warning">Please add at least one area to develop to find your matches</a><br>
            </div>
            {{/completedProfile.toDevelop}}
            <h2 class="section-title">Areas you would like to develop</h2>
            {{#data.toDevelop1}}
            <div class="small-12">
              <div class="skill-box cm cm-border"><p><strong>{{data.toDevelop1}}</strong></p><p>{{data.toDevelop1About}}</p></div>
            </div>
            {{/data.toDevelop1}}
            {{#data.toDevelop2}}
            <div class="small-12">
              <div class="skill-box com com-border"><p><strong>{{data.toDevelop2}}</strong></p><p>{{data.toDevelop2About}}</p></div>
            </div>
            {{/data.toDevelop2}}
            {{#data.toDevelop3}}
            <div class="small-12">
              <div class="skill-box ca ca-border"><p><strong>{{data.toDevelop3}}</strong></p><p>{{data.toDevelop3About}}</p></div>
            </div>
            {{/data.toDevelop3}}
            {{#data.toDevelop4}}
            <div class="small-12">
              <div class="skill-box dd dd-border"><p><strong>{{data.toDevelop4}}</strong></p><p>{{data.toDevelop4About}}</p></div>
            </div>
            {{/data.toDevelop4}}
            {{#data.toDevelop5}}
            <div class="small-12">
              <div class="skill-box fm fm-border"><p><strong>{{data.toDevelop5}}</strong></p><p>{{data.toDevelop5About}}</p></div>
            </div>
            {{/data.toDevelop5}}
            {{#data.toDevelop6}}
            <div class="small-12">
              <div class="skill-box pm pm-border"><p><strong>{{data.toDevelop6}}</strong></p><p>{{data.toDevelop6About}}</p></div>
            </div>
            {{/data.toDevelop6}}
          </div>
          <div class="large-12 small-12 child-panel profile-panel">
            {{#completedProfile.toOffer}}
            <div class="verify-warning">
              <a href="/edit-profile#areas-to-offer" class="add-area-warning">Please add at least one area to offer to find your matches</a><br>
            </div>
            {{/completedProfile.toOffer}}
            <h2 class="section-title">Experience you can offer</h2>
            {{#data.toOffer1}}
            <div class="small-12">
              <div class="skill-box cm cm-border"><p><strong>{{data.toOffer1}}</strong></p><p>{{data.toOffer1About}}</p></div>
            </div>
            {{/data.toOffer1}}
            {{#data.toOffer2}}
            <div class="small-12">
              <div class="skill-box com com-border"><p><strong>{{data.toOffer2}}</strong></p><p>{{data.toOffer2About}}</p></div>
            </div>
            {{/data.toOffer2}}
            {{#data.toOffer3}}
            <div class="small-12">
              <div class="skill-box ca ca-border"><p><strong>{{data.toOffer3}}</strong></p><p>{{data.toOffer3About}}</p></div>
            </div>
            {{/data.toOffer3}}
            {{#data.toOffer4}}
            <div class="small-12">
              <div class="skill-box dd dd-border"><p><strong>{{data.toOffer4}}</strong></p><p>{{data.toOffer4About}}</p></div>
            </div>
            {{/data.toOffer4}}
            {{#data.toOffer5}}
            <div class="small-12">
              <div class="skill-box fm fm-border"><p><strong>{{data.toOffer5}}</strong></p><p>{{data.toOffer5About}}</p></div>
            </div>
            {{/data.toOffer5}}
            {{#data.toOffer6}}
            <div class="small-12">
              <div class="skill-box pm pm-border"><p><strong>{{data.toOffer6}}</strong></p><p>{{data.toOffer6About}}</p></div>
            </div>
            {{/data.toOffer6}}
          </div>
        </div>
      </div>
      <div class="large-5 columns">
        <div class="large-12 child-panel profile-panel">
          <h2 class="section-title">Matching preferences</h2>
          <div class="row">
            <div class="large-5 small-5 columns">
              <p><strong>You are looking for:</strong></p>
            </div>
            <div class="large-7 small-7 columns">
              <p>One-off advice {{#data.coaching}}<i class="fa fa-check"></i></p>{{/data.coaching}}{{^data.coaching}}<i class="fa fa-times"></i></p>{{/data.coaching}}
              <p>Longer term mentoring {{#data.mentoring}}<i class="fa fa-check"></i></p>{{/data.mentoring}}{{^data.mentoring}}<i class="fa fa-times"></i></p>{{/data.mentoring}}
            </div>
          </div><br>
          <div class="row">
            <div class="large-5 small-5 columns">
              <p><strong>Contact type:</strong></p>
            </div>
            <div class="large-7 small-7 columns">
              <p>Face to face {{#data.faceToFace}}<i class="fa fa-check"></i></p>{{/data.faceToFace}}{{^data.faceToFace}}<i class="fa fa-times"></i></p>{{/data.faceToFace}}
              <p>Phone {{#data.phone}}<i class="fa fa-check"></i></p>{{/data.phone}}{{^data.phone}}<i class="fa fa-times"></i></p>{{/data.phone}}
            </div>
          </div><br>
          <div class="row">
            <div class="large-12 small-5 columns">
              <p><strong>What you're looking for in a mentor:</strong></p>
            </div>
            <div class="large-12 small-7 columns">
              {{#data.minimumMentorGrade}} <p>Minimum matching grade: {{realMinGrade}}</p> {{/data.minimumMentorGrade}}{{^data.minimumMentorGrade}}No minimum grade</p>{{/data.minimumMentorGrade}}
            </div>
          </div><br>
        </div>
        <div class="large-12 child-panel profile-panel">
          <h2 class="section-title">Areas you're familiar with (optional)</h2>
          <div class="row">
            <div class="large-12 small-12 columns">
              <strong><p>Do you have experience of any of the following, which you would be happy to discuss with a mentor or mentee?</p><br></strong>
            </div>
            <div class="large-6 small-6 columns">
              <p>BAME issues {{#data.bame}}<i class="fa fa-check"></i></p>{{/data.bame}}{{^data.bame}}<i class="fa fa-times"></i></p>{{/data.bame}}
              <p>Caring for dependents {{#data.dependents}}<i class="fa fa-check"></i></p>{{/data.dependents}}{{^data.dependents}}<i class="fa fa-times"></i></p>{{/data.dependents}}
              <p>Disability issues {{#data.disability}}<i class="fa fa-check"></i></p>{{/data.disability}}{{^data.disability}}<i class="fa fa-times"></i></p>{{/data.disability}}
            </div>
            <div class="large-6 small-6 columns">
              <p>Gender issues {{#data.gender}}<i class="fa fa-check"></i></p>{{/data.gender}}{{^data.gender}}<i class="fa fa-times"></i></p>{{/data.gender}}
              <p>LGBTQ issues {{#data.lgbtq}}<i class="fa fa-check"></i></p>{{/data.lgbtq}}{{^data.lgbtq}}<i class="fa fa-times"></i></p>{{/data.lgbtq}}
              <p>Part time working {{#data.partTime}}<i class="fa fa-check"></i></p>{{/data.partTime}}{{^data.partTime}}<i class="fa fa-times"></i></p>{{/data.partTime}}
            </div>
          </div><br>
        </div>
      </div>
    </div>

  {{/content}}
{{/layout}}
