{{< layout}}
  {{$content}}
    <div class="row">
      <div class="header-panel profile-panel">
        <h1>{{user.name}}</h1>
        <p>{{user.currentRole}}</p>
        <a href="/edit-profile" class="edit-profile-button pointer"><span class=""><i class="fa fa-pencil"></i> Edit profile</span></a>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <div class="child-panel profile-panel">
          <h2 class="section-title">About</h2>
          <p>{{user.aboutMe}}</p>
        </div>
      </div>
      <div class="large-5 columns">
        <div class="child-panel profile-panel">
          <h2 class="section-title">Skills</h2>
          <p>{{skillsListForProfile}}</p>
        </div>
      </div>
      <div class="large-7 columns">
        <div class="child-panel profile-panel">
          <h2 class="section-title">Goal</h2>
          <p>{{user.goal}}</p>
        </div>
      </div>
      <div class="large-5 columns end">
        <div class="child-panel profile-panel">
          <h2 class="section-title">Profession</h2>
          <p>{{user.profession}}</p>
        </div>
      </div>
    </div>
    <div class="row top-padding">
      <div class="large-7 columns">
        <div class="large-12">
          <div class="large-12 small-12 child-panel profile-panel">
            {{#completedProfile.toDevelop}}
            <div class="verify-warning">
              <a href="/edit-profile#areas-to-develop" class="add-area-warning">Please add at least one area to develop to find your matches</a><br>
            </div>
            {{/completedProfile.toDevelop}}
            <h2 class="section-title">Areas you would like to develop</h2>
            {{#user.toDevelop1}}
            <div class="small-12">
              <div class="skill-box cm cm-border"><p><strong>{{user.toDevelop1}}</strong></p><p>{{user.toDevelop1About}}</p></div>
            </div>
            {{/user.toDevelop1}}
            {{#user.toDevelop2}}
            <div class="small-12">
              <div class="skill-box com com-border"><p><strong>{{user.toDevelop2}}</strong></p><p>{{user.toDevelop2About}}</p></div>
            </div>
            {{/user.toDevelop2}}
            {{#user.toDevelop3}}
            <div class="small-12">
              <div class="skill-box ca ca-border"><p><strong>{{user.toDevelop3}}</strong></p><p>{{user.toDevelop3About}}</p></div>
            </div>
            {{/user.toDevelop3}}
            {{#user.toDevelop4}}
            <div class="small-12">
              <div class="skill-box dd dd-border"><p><strong>{{user.toDevelop4}}</strong></p><p>{{user.toDevelop4About}}</p></div>
            </div>
            {{/user.toDevelop4}}
            {{#user.toDevelop5}}
            <div class="small-12">
              <div class="skill-box fm fm-border"><p><strong>{{user.toDevelop5}}</strong></p><p>{{user.toDevelop5About}}</p></div>
            </div>
            {{/user.toDevelop5}}
            {{#user.toDevelop6}}
            <div class="small-12">
              <div class="skill-box pm pm-border"><p><strong>{{user.toDevelop6}}</strong></p><p>{{user.toDevelop6About}}</p></div>
            </div>
            {{/user.toDevelop6}}
          </div>
          <div class="large-12 small-12 child-panel profile-panel">
            {{#completedProfile.toOffer}}
            <div class="verify-warning">
              <a href="/edit-profile#areas-to-offer" class="add-area-warning">Please add at least one area to offer to find your matches</a><br>
            </div>
            {{/completedProfile.toOffer}}
            <h2 class="section-title">Experience you can offer</h2>
            {{#user.toOffer1}}
            <div class="small-12">
              <div class="skill-box cm cm-border"><p><strong>{{user.toOffer1}}</strong></p><p>{{user.toOffer1About}}</p></div>
            </div>
            {{/user.toOffer1}}
            {{#user.toOffer2}}
            <div class="small-12">
              <div class="skill-box com com-border"><p><strong>{{user.toOffer2}}</strong></p><p>{{user.toOffer2About}}</p></div>
            </div>
            {{/user.toOffer2}}
            {{#user.toOffer3}}
            <div class="small-12">
              <div class="skill-box ca ca-border"><p><strong>{{user.toOffer3}}</strong></p><p>{{user.toOffer3About}}</p></div>
            </div>
            {{/user.toOffer3}}
            {{#user.toOffer4}}
            <div class="small-12">
              <div class="skill-box dd dd-border"><p><strong>{{user.toOffer4}}</strong></p><p>{{user.toOffer4About}}</p></div>
            </div>
            {{/user.toOffer4}}
            {{#user.toOffer5}}
            <div class="small-12">
              <div class="skill-box fm fm-border"><p><strong>{{user.toOffer5}}</strong></p><p>{{user.toOffer5About}}</p></div>
            </div>
            {{/user.toOffer5}}
            {{#user.toOffer6}}
            <div class="small-12">
              <div class="skill-box pm pm-border"><p><strong>{{user.toOffer6}}</strong></p><p>{{user.toOffer6About}}</p></div>
            </div>
            {{/user.toOffer6}}
          </div>
        </div>
      </div>
      <div class="large-5 columns">
        <div class="large-12 child-panel profile-panel">
          <h2 class="section-title">Matching preferences</h2>
          <div class="row">
            <div class="large-5 small-5 columns">
              <p><strong>You are looking for:</strong></p>
            </div>
            <div class="large-7 small-7 columns">
              <p>One-off advice {{#user.coaching}}<i class="fa fa-check"></i></p>{{/user.coaching}}{{^user.coaching}}<i class="fa fa-times"></i></p>{{/user.coaching}}
              <p>Longer term mentoring {{#user.mentoring}}<i class="fa fa-check"></i></p>{{/user.mentoring}}{{^user.mentoring}}<i class="fa fa-times"></i></p>{{/user.mentoring}}
            </div>
          </div><br>
          <div class="row">
            <div class="large-5 small-5 columns">
              <p><strong>Contact type:</strong></p>
            </div>
            <div class="large-7 small-7 columns">
              <p>Face to face {{#user.faceToFace}}<i class="fa fa-check"></i></p>{{/user.faceToFace}}{{^user.faceToFace}}<i class="fa fa-times"></i></p>{{/user.faceToFace}}
              <p>Phone {{#user.phone}}<i class="fa fa-check"></i></p>{{/user.phone}}{{^user.phone}}<i class="fa fa-times"></i></p>{{/user.phone}}
            </div>
          </div><br>
          <div class="row">
            <div class="large-12 small-5 columns">
              <p><strong>What you're looking for in a mentor:</strong></p>
            </div>
            <div class="large-12 small-7 columns">
              {{#user.minimumMentorGrade}} <p>Minimum matching grade: {{realMinGrade}}</p> {{/user.minimumMentorGrade}}{{^user.minimumMentorGrade}}No minimum grade</p>{{/user.minimumMentorGrade}}
            </div>
          </div><br>
        </div>
        <div class="large-12 child-panel profile-panel">
          <h2 class="section-title">Areas you're familiar with (optional)</h2>
          <div class="row">
            <div class="large-12 small-12 columns">
              <strong><p>Do you have experience of any of the following, which you would be happy to discuss with a mentor or mentee?</p><br></strong>
            </div>
            <div class="large-6 small-6 columns">
              <p>BAME issues {{#user.bame}}<i class="fa fa-check"></i></p>{{/user.bame}}{{^user.bame}}<i class="fa fa-times"></i></p>{{/user.bame}}
              <p>Caring for dependents {{#user.dependents}}<i class="fa fa-check"></i></p>{{/user.dependents}}{{^user.dependents}}<i class="fa fa-times"></i></p>{{/user.dependents}}
              <p>Disability issues {{#user.disability}}<i class="fa fa-check"></i></p>{{/user.disability}}{{^user.disability}}<i class="fa fa-times"></i></p>{{/user.disability}}
            </div>
            <div class="large-6 small-6 columns">
              <p>Gender issues {{#user.gender}}<i class="fa fa-check"></i></p>{{/user.gender}}{{^user.gender}}<i class="fa fa-times"></i></p>{{/user.gender}}
              <p>LGBTQ issues {{#user.lgbtq}}<i class="fa fa-check"></i></p>{{/user.lgbtq}}{{^user.lgbtq}}<i class="fa fa-times"></i></p>{{/user.lgbtq}}
              <p>Part time working {{#user.partTime}}<i class="fa fa-check"></i></p>{{/user.partTime}}{{^user.partTime}}<i class="fa fa-times"></i></p>{{/user.partTime}}
            </div>
          </div><br>
        </div>
      </div>
    </div>

  {{/content}}
{{/layout}}
