{{< layout}}
  {{$content}}
  <div class="row">
    <div class="header-panel profile-panel bottom-margin">
      <h1>Reset your password</h1>
    </div>
    <div class="large-6 large-centered">
      <div class="panel">
        <div class="large-12">
          <h2 class="section-title">Enter your new password here.</h2><br>
          <ul>
            <li><span class="password-criteria">Between 8 and 32 characters</span><span id="passwordLength" class="password-icon"></span></li>
            <li><span class="password-criteria">Not use a common word/phrase</span><span id="commonPasswords" class="password-icon"></span></li>
            <li><span class="password-criteria">One upper case letter</span><span id="passwordUpper" class="password-icon"></span></li>
            <li></span><span class="password-criteria">One lower case letter</span><span id="passwordLower" class="password-icon"></li>
            <li></span><span class="password-criteria">One number</span><span id="passwordNumber" class="password-icon"></li>
            <li><span class="password-criteria">One special character</span><span id="passwordSpecial" class="password-icon"></span></li>
          </ul>
        </div>
        <div class="large-10 large-centered">
          <form method="POST" action="/reset-password/{{hashedEmail}}" style="text-align: center">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <span class="error-message">{{errors.validation.passwordValid}}{{hashError}}</span>
            <input name="password" type="password" id="newPassword" placeholder="Enter new password" required="true"/>
            <input class="button" type="submit" name="savePassword" id="savePassword" value="Save new password"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#newPassword').keyup(function() {
      var regexes = {
        passwordLength: /^[\s\S]{8,32}$/,
        passwordUpper: /[A-Z]/,
        passwordLower: /[a-z]/,
        passwordNumber: /[0-9]/,
        passwordSpecial: /[ !"#$%&'()*+,\-./:;<=>?@[\\\]^_`{|}~]/
      };
      var commonPasswords = /mentormatch|password|123456|querty|starwars|monkey|football|123456789|111111|qwertyuiop|google|1q2w3e4r5t|123qwe|zxcvbnm/ig

      var validPassword = true;
      for (var regex in regexes) {
        if (regexes.hasOwnProperty(regex)) {
          var el = document.getElementById(regex)
          if (document.getElementById('newPassword').value.match(regexes[regex])) {
            el.className = "fa fa-check password-icon";
          } else {
            el.className = "fa fa-times password-icon";
          }
        }
      }
      if (!document.getElementById('newPassword').value.match(commonPasswords)) {
        document.getElementById('commonPasswords').className = "fa fa-check password-icon";
      } else {
        document.getElementById('commonPasswords').className = "fa fa-times password-icon";
      }
    });
  </script>
  {{/content}}
{{/layout}}
